<!-- Main Section -->
<main>
    <section class="container">
        <div class="row">
            <div class="col-md-8 mt-5 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <a href=""><i class="fas fa-chevron-circle-left fa-3x moods"></i></a>
                        <br>
                        <form action="" method="post" class="mt-3">
                            <!-- Simple input -->
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Text</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Text">
                            </div>
                            <!-- Select Box -->
                            <div class="form-group">
                                <label for="inputState">Mood</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <!-- Text Area -->
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Example textarea</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="15"></textarea>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-outline-info form-control">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>