{% extends 'includes/main.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<!-- Main Section -->
<main>
    <section class="container">
        {% if not request.session.master_password_provided %}
        <div class="alert alert-warning mt-5" role="alert">
            If you want to view, update or delete your diary. You have to <a href="{% url 'check-master-password' %}">enter</a> your master password!
        </div>
        {% endif %}
        <div class="row">
            <!-- Profile -->
            <div class="col-md-4">
                <div class="card mx-2 my-5">
                    <div class="card-header">
                        <h5 class="card-title text-center">{{profile.name}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="text-center pt-3 pb-5"><img src="{{profile.profile_image.url}}" alt="" class="img-thumbnail"></div>
                        <p class="card-text mt-5">
                            <i class="fas fa-pen-square moods"></i><span class="ml-2">Total Diaries : {{moods.total}}</span>
                            <hr>
                            <i class="fas fa-smile moods"></i><span class="ml-2">Happy Mood : {{moods.happy}}</span>
                            <hr>
                            <i class="fas fa-angry moods"></i><span class="ml-2">Angry Mood : {{moods.angry}}</span>
                            <hr>
                            <i class="fas fa-sad-tear moods"></i><span class="ml-2">Sad Mood : {{moods.sad}}</span>
                            <hr>
                        </p>
                        {% if profile.master_password %}
                        <a href="{% url 'create-diary' %}" class="btn btn-outline-info form-control">Create Diary</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Dashboard -->
            <div class="col-md-8">
                {% if diaries %}
                <table class="table table-hover mt-5">
                    <thead class="thead-purple">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Mood</th>
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for diary in diaries %}
                        <tr class="text-align-center">
                            <td><a href="{% url 'detail-diary' diary.id %}">{{diary.created|date:"d F Y, l, (f A)"}}</a></td>
                            <td>
                                {% if diary.mood == "happy" %}
                                <i class="fas fa-smile fa-2x moods"></i>
                                {% elif diary.mood == "sad" %}
                                <i class="fas fa-sad-tear fa-2x moods"></i>
                                {% elif diary.mood == "angry" %}
                                <i class="fas fa-angry fa-2x moods"></i>
                                {% endif %}
                            </td>
                            <td><a href="{% url 'update-diary' diary.id %}"><i class="fas fa-edit fa-2x edit-button"></i></a></td>
                            <td><a href="{% url 'delete-diary' diary.id %}"><i class="fas fa-trash-alt fa-2x delete-button"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-warning mt-5" role="alert">
                    {% if profile.master_password %}
                    You do not have any diary. Let's <a href="{% url 'create-diary' %}" class="alert-link">create a one</a>!
                    {% else %}
                    You can not create diary if you do not have master password. Create from <a href="{% url 'create-master-password' %}" class="alert-link">here</a>!
                    {% endif %}
                </div>
                {% endif %}
            </div>
            
        </div>
    </section>
</main>

{% endblock content %}