{% extends 'includes/main.html' %}
{% block title %}Account{% endblock title %}
{% block content %}
<!-- Main Section -->
<main>
    <section class="container">
        <div class="row align-items-center justify-content-center pt-5">
            <div class="col-6">
                <div class="card">
                    <h5 class="card-header text-center">{{profile.name}}</h5>
                    <img src="{{profile.profile_image.url}}" class="img-thumbnail" alt="...">
                    <div class="card-body text-center">
                        <legend>Username : {{profile.username}}</legend>
                        <legend>Email : {{profile.email}}</legend>
                        <p class="text-center pt-4">
                            <small><a href="{% url 'edit-account' %}">Edit</a> your profile or <a href="">change your master password.</a></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}