{% extends 'includes/main.html' %}
{% load static %}
{% block title %}{% if page == "create" %}Create{% else %}Check{% endif %} Master Password{% endblock title %}
{% block content %}

<!-- Main Section -->
<main>
    <section class="container">
        <div class="row align-items-center justify-content-center pt-5">
            <div class="col-6">
                <div class="card">
                    <h5 class="card-header">Edit Master Password</h5>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="password" class="form-control" name="current-password" placeholder="Current Master Password">
                            <br>
                            <input type="password" class="form-control" name="new-password" placeholder="New Master Password">
                            <br>
                            <input type="password" class="form-control" name="new-password2" placeholder="Retype New Master Password">
                            <br>
                            <div class="row">
                                <div class="col"><a href="{% url 'account' %}" class="btn btn-danger form-control">Go Back</a></div>
                                <div class="col"><input type="submit" class="btn btn-successful form-control" value="Confirm"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}